{% extends 'main.html' %}
{% block content %}
<p class="pet-item">№{{pet.id}}</p>
<h3 class="pet-name">{{pet.name}}</h3>
<h3 class="pet-item">{{pet.description}}</h3>
<h4 class="pet-item">Автор петиції: {{pet.author.name}} {{pet.author.surname}} {{pet.author.father}}</h4>
<p class="pet-item">Зібрано підписів: {{pet.subs.all.count}}</p>
<p class="pet-item">Опубліковано: {{pet.created}}</p>
{% if request.user == pet.author %}
    <p class="pet-item"><a href="{% url 'petition-update' pet.id %}">Редагувати петицію</a></p>
    <p class="pet-item"><a href="{% url 'petition-delete' pet.id %}">Видалити петицію</a></p>
{% endif %}
{% endblock %}