{% load static %}
<div class="header">
    <ul class="nav justify-content-center">
      <li class="nav-item logo">
        <a aria-current="page" href="{% url 'home' %}">
            <img src="{% static 'petitions/images/logo.png' %} /" width="60" height="60">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
            <p class="link">Триває збір підписів</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'consideration' %}">
            <p class="link">На розгляді</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <p class="link">Пошук петиції</p>
        </a>
      </li>
    </ul>
</div>
<hr class="liniya">


